<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="bug_Db" connectionString="Initial Catalog=OA_States_DB;Data Source=oavm;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<SubSonicService defaultProvider="BugInfoProvider">
		<providers>
			<clear/>
			<add name="BugInfoProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="bug_Db" generatedNamespace="DAL"/>
		</providers>
	</SubSonicService>
	<startup/></configuration>
