<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="bug_Db" connectionString="Initial Catalog=OA_States_DB;Data Source=(local);Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
