<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
		<section name="BugStatesConfig" type="TeamView.Configs.BugStatesConfig, TeamView"/>
		<section name="DealManConfig" type="TeamView.Configs.DealManConfig, TeamView"/>
    <section name="HardLevelConfig" type="TeamView.Configs.HardLevelConfig, TeamView"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<BugStatesConfig BugStates=",待处理,正在处理,搁置,完成"/>
	<DealManConfig DealMen=",曹宗颖,客户,方绍军,叶伟,陈鹏,仓库,王德林,提交中心" CurrentLogin="曹宗颖"/>
  <HardLevelConfig DefaultHardLevel="2"/>
	<unity>
		<containers>
			<container name="container1">
				<types>
					<type type="BugInfoManagement.Dao.IBugInfoManagement, BugInfo.Common, Culture=neutral, PublicKeyToken=null" mapTo="BugInfoManagement.DaoImpl.BugInfoManagementImpl, BugInfo.Common, Culture=neutral, PublicKeyToken=null"/>
					<type type="BugInfoManagement.IDealMen, BugInfoManagement, Culture=neutral, PublicKeyToken=null" mapTo="BugInfoManagement.DealMenImpl, BugInfoManagement, Culture=neutral, PublicKeyToken=null"/>
					<type type="BugInfoManagement.IBugStates, BugInfoManagement, Culture=neutral, PublicKeyToken=null" mapTo="BugInfoManagement.BugStatesImpl, BugInfoManagement, Culture=neutral, PublicKeyToken=null"/>
					<type type="BugInfoManagement.INotificationSetting, BugInfoManagement, Culture=neutral, PublicKeyToken=null" mapTo="BugInfoManagement.NotificationSettingImpl, BugInfoManagement, Culture=neutral, PublicKeyToken=null"/>
					<type type="BugInfoManagement.INotificationManager, BugInfoManagement, Culture=neutral, PublicKeyToken=null" mapTo="BugInfoManagement.NotificationManagerImpl, BugInfoManagement, Culture=neutral, PublicKeyToken=null"/>
				</types>
			</container>
		</containers>
	</unity>
	<connectionStrings>
		<add name="bug_Db" connectionString="Initial Catalog=TeamView_DB;Data Source=(local)\Sqlexpress;Integrated Security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<SubSonicService defaultProvider="BugInfoProvider">
		<providers>
			<clear/>
			<add name="BugInfoProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="bug_Db" generatedNamespace="DAL"/>
		</providers>
	</SubSonicService>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myLitener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\BugInfoManagement.exe.log"/>
				<remove name="default"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
	</startup>
</configuration>
