<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
		<section name="BugStatesConfig" type="TeamView.Configs.BugStatesConfig, TeamView"/>
		<section name="DealManConfig" type="TeamView.Configs.DealManConfig, TeamView"/>
    <section name="HardLevelConfig" type="TeamView.Configs.HardLevelConfig, TeamView"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<DealManConfig DealMen="曹宗颖1,客户,方绍军,叶伟,彭长生,张果,成小平,王德林,仓库,提交中心,导入中心" CurrentLogin="曹宗颖1"/>
  <HardLevelConfig DefaultHardLevel="2" HardLevels="1,2,3,4,5,6,7,8,9,10"/>
	<connectionStrings>
		<add name="bug_Db" connectionString="Initial Catalog=TeamView_DB;Data Source=(local)\Sqlexpress;Integrated Security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<SubSonicService defaultProvider="BugInfoProvider">
		<providers>
			<clear/>
			<add name="BugInfoProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="bug_Db" generatedNamespace="DAL"/>
		</providers>
	</SubSonicService>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myLitener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\BugInfoManagement.exe.log"/>
				<remove name="default"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
	</startup>
</configuration>
