<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="BugInfo" connectionString="server=OAVM;Integrated Security=false;User ID=class;password=class;database=OA_TASKS"/>
  </connectionStrings>

  <SubSonicService defaultProvider="BugInfoProvider">
    <providers>
      <clear/>
      <add name="BugInfoProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="BugInfo" generatedNamespace="DAL"/>
    </providers>
  </SubSonicService>

  <appSettings>
    <add key="DataSourceType" value="SqlClient"/>
    <add key="ConnectionString" value="User ID=class;Password=class;Persist Security Info=False;Initial Catalog=OpenActivity_DB;Data Source=oavm"/>
    <add key="EventingConnectionString" value="Initial Catalog=NGX_Eventing_DB;Data Source=oavm;User ID=class;Password=class;Persist Security Info=False"/>
  </appSettings>
</configuration>
