<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BugStatesConfig" type="TeamView.Common.Configs.BugStatesConfig, TeamView.Common"/>
    <section name="DealManConfig" type="TeamView.Common.Configs.DealManConfig, TeamView.Common"/>
  </configSections>
  <DealManConfig DealMen="曹宗颖1,客户,方绍军,叶伟,彭长生,张果,成小平,王德林,仓库,提交中心,导入中心" CurrentLogin="曹宗颖1"/>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
